html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.history {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 85vh;
  background-color: #2372d6;
}
.header-history {
  font-size: 7rem;
  font-family: "Henny Penny", cursive;
  color: #f6f285;
}
.img1 {
  width: 140rem;
  height: 16rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.img2 {
  width: 140rem;
  height: 16rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.img3 {
  width: 140rem;
  height: 16rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.history-title-text {
  font-size: 4rem;
  font-family: "Underdog", cursive;
  color: #f6f285;
  width: 45rem;
}
.kingsword:hover {
  top: 6rem;
  transition: top all 0.3s;
  transform: scale(0.6);
}
.warred:hover {
  top: 24rem;
  transition: top all 0.3s;
  transform: scale(0.6);
}
.flowerblue:hover {
  top: 41rem;
  transition: top all 0.3s;
  transform: scale(0.6);
}
.kingsword {
  background-color: #6e6904;
  opacity: 75%;
  border-radius: 1rem;
  top: 12rem;
  position: absolute;
}
.warred {
  background-color: #b23617;
  opacity: 75%;
  border-radius: 1rem;
  top: 29rem;
  position: absolute;
}
.flowerblue {
  background-color: #081861;
  opacity: 75%;
  border-radius: 1rem;
  top: 46rem;
  position: absolute;
}
.history-paragraph {
  font-size: 2rem;
  width: 100rem;
  margin-left: auto;
  margin-right: auto;
}
