@import "_variables.scss";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.history {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 85vh;
  background-color: #2372d6;
  // position: relative;
}
.header-history {
  font-size: 7rem;
  font-family: $title-font;
  color: #f6f285;
}
// .img-wrap .imgs {
//   position: relative;
//   text-align: center;
//   transition: all 0.8s;
// }
.img1,
.img2,
.img3 {
  width: 140rem;
  height: 16rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.title-text {
  font-size: 4rem;
  font-family: $content-font;
  color: #f6f285;
  width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
.kingsword,
.warred,
.flowerblue {
  opacity: 75%;
  position: absolute;
  border-radius: 1rem;
}
.kingsword {
  background-color: #6e6904;
  top: 12rem;
}
.warred {
  background-color: #b23617;
  top: 29rem;
}
.flowerblue {
  background-color: #081861;
  top: 46rem;
}
.history-paragraph {
  font-size: 2rem;
  font-family: $content-font;
  // width: 120rem;
  // opacity: 0;
  transition: all 0.8s;
  position: absolute;

  // margin: -25px 0 0 -25px;
  // top: 0;
  // left: 0;

  // width: 100%;
  // height: 100%;
}
.para1,
.para2,
.para3 {
  text-align: center;
}
// //hoversssssss
.kingsword:hover {
  top: 6rem;
  transition: top all 0.3s;
  transform: scale(0.6);
}
.warred:hover {
  top: 24rem;
  transition: top all 0.3s;
  transform: scale(0.6);
}
.flowerblue:hover {
  top: 41rem;
  transition: top all 0.3s;
  transform: scale(0.6);
}
.history-paragraph:hover p {
  opacity: 1;
}
.history-paragraph:hover {
  background: lightblue;
  transform: translateY(-5rem);
}
