html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.history {
  background-color: #2372d6;
  display: flex;
  flex-direction: column;
  height: 85vh;
  text-align: center;
  align-items: center;
  position: relative;
}
.header-history {
  font-size: 7rem;
  font-family: "Henny Penny", cursive;
  color: #f6f285;
}
.imgs {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 1rem;
  // position: relative;
}
.img1 {
  width: 140rem;
  height: 16rem;
  border-radius: 2rem;
}
.img2 {
  width: 140rem;
  height: 16rem;
  border-radius: 2rem;
}
.img3 {
  width: 140rem;
  height: 16rem;
  border-radius: 2rem;
}
.title-text {
  font-size: 4rem;
  font-family: "Underdog", cursive;
  color: #f6f285;
  width: 45rem;
  margin: auto;
  // position: absolute;
}
.title-text:hover {
}
.kingsword {
  background-color: #6e6904;
  opacity: 75%;
  border-radius: 1rem;
  top: 12rem;
  position: absolute;
}
.warred {
  background-color: #b23617;
  opacity: 75%;
  border-radius: 1rem;
  top: 29rem;
  position: absolute;
}
.flowerblue {
  background-color: #081861;
  opacity: 75%;
  border-radius: 1rem;
  top: 46rem;
  position: absolute;
}

// 1400x160
