@import "_variables.scss";
@import "_mixins.scss";

/* ATTRACTIONS */
#attractionsbox {
  width: 100%;
  height: 80.5vh;
  background-color: #cce2ff;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.highlights {
  -ms-box-orient: horizontal;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  width: 62.5%;
  padding: 0 3.5vw;
  float: right;
  margin-top: 6vw;
  margin-right: -.5vw;
}

.views-row {
  display: flex;
  padding: 0.5vw;
  text-align: center;
}
.a-name {
  @include text-stuff;
  color: #fff;
}
.views-content,
.views-content-small {
  flex: 1;
  height: 17vw;
  border-radius: 1vw;
  position: relative;
  transition: all 0.3s;
}
.views-content-small {
  height: 12vw;
}
.article-image {
  max-width: 100%;
  border-radius: 1vw;
  height: 100%;
}
.article-content {
  position: absolute;
  bottom: 0;
  background-color: rgba(35, 114, 214, 0.9);
  width: 100%;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  //text-transform: uppercase;
}
.views-row-fill {
  flex: 1 100%;
  max-width: 100%;
}
.views-row-flex {
  flex: 1 33.33333333%;
  max-width: 33.33333333%;
}

.views-row-flex-50 {
  flex: 1 50%;
  max-width: 50%;
}

.views-row-flex-25 {
  flex: 1 25%;
  max-width: 25%;
  height: 75%;
}

.a-text {
  display: flex;
  flex-direction: column;
  float: left;
  width: 30vw;
  padding-left: 3.5vw;
  margin-top: 5.5vw;
}
#a-header {
  font-family: $mainfont;
  font-size: 5rem;
  color: color(bluee);
  text-transform: uppercase;
}
#a-blurb {
  @include text-stuff;
}
.views-content:hover,
.views-content-small:hover {
  transform: scale(1.3);
  z-index: 10;
  box-shadow: 0 0 3rem 2rem rgba(color(bluee), 0.4);
}

/* MEDIA QUERIES */

/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
          background-color: blue;
      }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
          background-color: green;
      }*/
  #a-header {
    font-size: 3rem;
  }
  .a-text,
  #a-blurb {
    font-size: 1.4rem;
  }
  .a-name {
    font-size: 1.4rem;
  }
  .a-text {
    float: none;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  #a-header {
    justify-content: center;
    text-align: center;
  }
  #a-blurb {
    text-align: center;
    padding-left: 16.5rem;
    padding-right: 20rem;
    width: 100vw;
  }
  #attractionsbox {
    display: flex;
    flex-direction: column;
  }
  .highlights {
    margin: 2vw 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
  }
}

/* Medium devices (tablets/laptops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
          background-color: yellow;
      }*/
      #attractionsbox {
        height: 67vh;
      }
}

/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
          background-color: purple;
      }*/
  .a-text {
    width: 93vw;
  }
  #a-header {
    text-align: center;
  }
  #a-blurb {
    text-align: left;
    padding-left: 0;
    padding-right: 3.5vw;
  }
  .views-content {
    height: 40vh;
    width: 100vw;
  }
  .views-row-flex,
  .views-row-flex-25,
  .views-row-flex-50 {
    flex: none;
    max-width: 100%;
  }
  .highlights {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 2vw 0;
  }
  .views-content-small {
    display: none;
  }
  #attractionsbox {
    height: 150vh;
  }
  #attractionsbox {
    padding-top: 12vw;
  }
  .a-text {
    margin-top: 0;
  }
  .article-image {
    width: 100%;
  }
  .views-content:hover {
    transform: scale(1.03);
  }
}
