@import "_variables.scss";
@import "_mixins.scss";

#eventsbox {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #cce2ff;
  padding: 3.5vw;
  padding-top: 5.5vw;
}
.e-header {
  font-size: 5rem;
  color: color(bluee);
  font-family: $mainfont;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.e-blurb {
  @include text-stuff;
  padding-bottom: 2.5vw;
}
.e-header,
.e-blurb {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 30vw;
}
.e-content {
  list-style: none;
  float: left;
  // position: absolute;
  /*   transform: translate(-50%,-50%); */
  // left: 50%;
  // top: 50%;
  // margin-left: -125px;
  // margin-top: -180px;
}
.e-card {
  border-radius: 1vw;
  overflow: hidden;
  padding: 1vw;
}
.e-card-h,
.e-card-content {
  z-index: 1;
  position: relative;
}
.e-content .e-card {
  display: block;
  position: absolute;
  width: 25rem;
  height: 32rem;
  top: 0;
  left: 0;
  transform: rotate(10deg) skew(-60deg);
  transform-origin: bottom center;
  box-shadow: 0 0 5rem 1rem rgba(color(bluee), 0.4);
  transition: 0.4s;
  overflow: hidden;
}
.e-text {
  opacity: 0;
}
.e-card-1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: #28fff7;
  background: -moz-linear-gradient(
    45deg,
    rgba(255, 180, 40, 1) 0%,
    rgb(255, 40, 76) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 180, 40, 1) 0%,
    rgba(255, 40, 76, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(255, 180, 40) 0%,
    rgba(255, 40, 76, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(255, 180, 40) 0%,
    rgb(255, 40, 76) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb428', endColorstr='#ff284c',GradientType=1 );
  transition: 0.6s;
}
.e-card-2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: #28fff7;
  background: -moz-linear-gradient(
    45deg,
    rgba(255, 40, 58, 1) 0%,
    rgb(212, 40, 255) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 40, 58, 1) 0%,
    rgba(212, 40, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(255, 40, 58) 0%,
    rgb(212, 40, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff283a', endColorstr='#d428ff',GradientType=1 );
  transition: 0.6s;
}
.e-card-3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: #28fff7;
  background: -moz-linear-gradient(
    45deg,
    rgba(40, 255, 155, 1) 0%,
    rgb(40, 40, 255) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(40, 255, 155, 1) 0%,
    rgba(40, 40, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(40, 255, 155) 0%,
    rgb(40, 40, 255) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28ff9b', endColorstr='#2828ff',GradientType=1 );
  transition: 0.6s;
}
.e-content .e-card:hover .e-text {
  opacity: 100%;
  transition-delay: 0.3s;
}
//CONTENT STUFF STARTS
.e-content .e-card .e-card-h {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
}
.e-card-1 {
  background-image: url(/Images/banquet-min.jpg);
  background-size: cover;
}
.e-card-2 {
  background-image: url(/Images/concert2-min.jpg);
  background-size: cover;
}
.e-card-3 {
  background-image: url(/Images/starsssss.jpg);
  background-size: cover;
}
//TRANSFORMING CARD STUFF STARTS
.e-content .e-card:nth-child(1) {
  transform: rotate(20deg) skew(-20deg) translate(10px, 10px);
}
.e-content .e-card:nth-child(2) {
  transform: rotate(20deg) skew(-20deg) translate(0px, 0px);
}
.e-content .e-card:nth-child(3) {
  transform: rotate(20deg) skew(-20deg) translate(-10px, -10px);
}
.e-content:hover .e-card:nth-child(1),
.e-content:focus .e-card:nth-child(1) {
  transform: rotate(40deg) skew(0) translate(100px, 0);
}
.e-content:hover .e-card:nth-child(2),
.e-content:focus .e-card:nth-child(2) {
  transform: rotate(0) skew(0);
}
.e-content:hover .e-card:nth-child(3),
.e-content:focus .e-card:nth-child(3) {
  transform: rotate(-40deg) skew(0) translate(-100px, 0);
}
.e-content:hover .e-card:hover,
.e-content:focus .e-card:focus {
  z-index: 9;
  background-color: #0e1826;
  box-shadow: 0 0 3rem 1rem rgba(129, 40, 255, 0.4);
}
.e-content:hover .e-card:hover .e-card-button,
.e-content:focus .e-card:focus .e-card-button {
  top: 3rem;
  transform: scale(1);
}
.e-content:hover .e-card:hover:after,
.e-content:focus .e-card:hover:after {
  height: 100%;
  /*   transform:skew(30deg); */
}
.e-content:hover .e-card:hover *,
.e-content:focus .e-card:focus * {
  color: #fff;
  background: -webkit-linear-gradient(#fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.e-whole {
  position: absolute;
  left: 60%;
  top: 6vw;
  // margin-right: -50%;
  // transform: translate(-50%, -50%);
}
.e-card-h {
  font-family: $subfont;
  text-align: center;
  font-size: 2.25rem;
  padding-bottom: 1vw;
}
.e-card-content {
  @include text-stuff;
  color: #fff;
}
.e-card-date {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 2vw;
}
#fbutton,
#footer-button {
  background-color: color(yelloww);
  color: #0026ff;
  padding: 0.7rem 2.5rem;
  border: none;
  cursor: pointer;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  transition: all 0.3s;
  font-size: 1.5rem;
  display: block;
  margin-top: 1.5rem;
  font-family: $subfont;
}
#fbutton:hover,
#fbutton:focus,
#footer-button:hover,
#footer-button:focus {
  background-color: #feffbc;
}
#fbutton {
  padding: 0.7rem 5rem;
}
.textinput {
  margin-bottom: 1rem;
}
.fheader {
  font-family: $subfont;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.fcontainer {
  display: inline;
  float: left;
  padding: 1.5rem;
  background: color(bluee);
  border-radius: 1vw;
  width: 25vw;
}
.textinput {
  padding-left: 0.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: block;
}
.ftext,
#events,
.textinput {
  font-family: $subfont;
  font-size: 1.3rem;
  font-weight: 500;
}
.ftext {
  font-size: 1.5rem;
  color: #fff;
}
#events,
.textinput {
  border-radius: 1vw;
  border: solid 0.05rem;
  padding: 1rem;
  width: 100%;
}

.ftext {
  margin-bottom: 0.5rem;
}
.e-text {
  text-align: center;
}

//FOR MOBILE

#eventsmobile {
  background-color: #cce2ff;
}
.e-m-h {
  font-size: 3rem;
  color: color(bluee);
  font-family: $mainfont;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-top: 10vw;
}
.e-m-b {
  @include text-stuff;
  font-size: 1.4rem;
  padding-bottom: 2.5vw;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}
.e-m-card-h1 {
  font-size: 2.25rem;
  letter-spacing: 0.1rem;
}
.e-m-card-h2 {
  font-size: 1.6rem;
  margin-top: 0.3rem;
  letter-spacing: 0.1rem;
}
.e-m-card-p {
  @include text-stuff;
  text-align: left;
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #fff;
}
.e-m-container {
  display: flex;
  flex-direction: column;
  padding: 3.5vw;
}
.e-m-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  border-radius: 1vw;
  // height: 40vh;
}
.e-m-card-1 {
  background-color: rgba(222, 48, 0, 0.822);
}
.e-m-card-2 {
  background-color: rgba(204, 0, 114, 0.822);;
}
.e-m-card-3 {
  background-color: #3c68f8;
}
.e-m-card img {
  height: 20vh;
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
}
.e-m-text {
  text-align: center;
  color: #ffff;
  font-family: $subfont;
  padding: 2vw;
}
.formbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
#eventsmobile,
.e-mobile,
#mobile-btn {
  display: none;
}
//MEDIA QUERIES
@media only screen and (min-width: 1200px) {
}
/* 
@media only screen and (min-width: 1200px) {
  #eventsmobile,
  .e-mobile,
  .events-mob-btn {
    display: none;
  }
}
Large devices (laptops/desktops, up to 1200px) 
 @media only screen and (max-width: 1200px) {
   .e-whole {
    position: absolute;
    left: 50%;
    top: 6vw;
   }
   .e-header {
    font-size: 3rem;
    }
 }
 @media only screen and (max-width: 1024px) {
  .fcontainer {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5vw;
  }
  .e-m-container {
    flex-direction: column;
  }
  #eventsbox,
  .e-desktop,
  #eventsbtn {
    display: none;
  }
  #eventsmobile,
  .events-mob-btn {
    display: block;
  }
  .e-mobile,
  .events-mob-btn {
    display: inline-block;
  }
}*/
@media only screen and (max-width: 1024px) {
  .fcontainer {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5vw;
  }
  .e-m-container {
    flex-direction: column;
  }
  #eventsbox,
  .e-desktop,
  #events-btn {
    display: none;
  }
  #eventsmobile,
  .e-mobile {
    display: block;
  }
  #mobile-btn {
    display: inline-block;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .e-m-card img {
    height: 40vh;
  }
}

