@import "_variables.scss";
@import "_mixins.scss";

//this is charley's

#historybox {
  width: 100vw;
  // padding-top: 0.6vw;
  position: relative;
  text-align: center;
  padding-bottom: 2.5vw;
  background-color: #cce2ff;
  padding-top: 5.5vw;
}
.header-history {
  font-size: 5rem;
  color: color(bluee);
  font-family: $mainfont;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
#h-blurb {
  @include text-stuff;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: left;
  padding-bottom: 2.5vw;
}
.image-whole {
  position: relative;
  margin-bottom: 1vw;
  width: 93vw;
  height: 25vh;
  border-radius: 1vw;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  position: relative;
}
.h-img-1 {
  background-image: url(/Images/FM2.jpg);
}
.h-img-2 {
  background-image: url(/Images/WM3-min.jpg);
}
.h-img-3 {
  background-image: url(/Images/BM1-min.jpg);
}
.img-title {
  font-size: 3vw;
  width: fit-content;
  font-family: $subfont;
  color: color(yelloww);
  padding: 1vw 2vw;
  border-radius: 1vw;
  position: absolute;
  line-height: 5vw;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.img-title-1 {
  background-color: rgba(color(hgreen), 0.85);
}
.img-title-2 {
  background-color: rgba(color(hred), 0.8);
}
.img-title-3 {
  background-color: rgba(color(hblue), 0.85);
}
.img-info-1 {
  background-color: color(hgreen);
}
.img-info-2 {
  background-color: color(hred);
}
.img-info-3 {
  background-color: color(hblue);
}
.img-info {
  position: relative;
  @include text-stuff;
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
  width: 93vw;
  height: 25vh;
  border-radius: 1vw;
  margin: 0;
  //top: 0.5vh;
  transform: translateY(5vh);
  // padding-left: 2vw;
}
.h-info {
  transition: all 0.3s;
  text-align: left;
  padding: 0 2vw;
  position: absolute;
  @include text-stuff;
  color: #fff;
  top: 75%;
}
.image-whole:hover .img-info,
.image-whole:focus .img-info {
  opacity: 90%;
  transform: translateY(0vh);
}
.image-whole:hover .h-info,
.image-whole:focus .h-info {
  top: 40%;
}
.image-whole:hover .img-title,
.image-whole:focus .img-title {
  z-index: 1;
  top: 25%;
  background-color: rgba(0, 0, 0, 0);
  padding: none;
}
.image-whole:hover .img-info-1,
.image-whole:focus .img-info-1 {
  box-shadow: 0 0 3rem 1rem rgba(color(hgreen), 0.5);
}
.image-whole:hover .img-info-2,
.image-whole:focus .img-info-2 {
  box-shadow: 0 0 3rem 1rem rgba(color(hred), 0.5);
}
.image-whole:hover .img-info-3,
.image-whole:focus .img-info-3 {
  box-shadow: 0 0 3rem 1rem rgba(color(hblue), 0.5);
}
/* MEDIA QUERIES */

/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
          background-color: blue;
      }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
          background-color: green;
      }*/
  .header-history {
    font-size: 3rem;
  }
  #h-blurb,
  .h-info {
    font-size: 1.4rem;
  }
  .img-title {
    z-index: 1;
    top: 15%;
    background-color: rgba(0, 0, 0, 0);
    padding: none;
  }
  .image-whole:hover .img-title,
  .image-whole:focus .img-title {
    top: 15%;
  }
  .img-info {
    opacity: 85%;
    transform: translate(0);
    justify-content: center;
  }
}

/* Medium devices (laptops/desktops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
          background-color: yellow;
      }*/
}
//@media only screen and (min-width: 320px) {
// .h-info {
//   font-size: 3rem;
// }
//}
/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
          background-color: purple;
      }*/
  .img-title {
    font-size: 5vw;
    //background: none;
  }
  #historybox {
    padding-top: 10vw;
  }
  #h-blurb {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-bottom: 5vw;
  }
  /*.image-whole-1 {
      background-color: rgba(110, 105, 4, 0.75);
    }
    .image-whole-2 {
      background-color: rgba(178, 54, 23, 0.75);
    }
    .image-whole-3 {
      background-color: rgba(8, 24, 97, 0.75);
    }*/
  .image-whole {
    opacity: 100%;
    transform: translateY(0vh);
    // display: flex;
    // justify-content: center;
  }
  .h-info {
    top: 30%;
  }
  .image-whole:hover .h-info,
  .image-whole:focus .h-info {
    top: 30%;
  }
}
