@import "_variables.scss";
@import "_mixins.scss";

//LEGENDS
#legendsbox {
  background-color: #bddaff;
  // height: 90vh;
  width: 100vw;
  font-family: $subfont;
  position: relative;
  padding-top: 5.5vw;
  padding-bottom: 3.5vw;
}
#l-header {
  font-family: $mainfont;
  color: color(bluee);
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
#l-blurb {
  @include text-stuff;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: left;
  padding-bottom: 1vw;
}
.card-container {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.card-container:hover .card{
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.card {
  -webkit-transition: -webkit-transform 0.7s;
          transition: transform 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

/*Custom Styles*/
.cards-container{
 display: -webkit-flex;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-direction: row;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
-webkit-box-pack: center;
-webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.card {
width: 25rem;
height: 30rem;
margin: 2.5vw;
background-image: url(/Images/Lantern3.jpg);
background-size: cover;
border-radius: 1vw;
box-shadow: 0 1px 6px 0;
}

.l-image {
  width: 20rem;
height: 30rem;
display: block;
}

.front, .back {
position: absolute;
width: 100%;
top: 0;
bottom: 0;
}

/*.l-wrapper {
  position: relative;
  top: 0;
  width: 25rem;
  height: 40rem;
  perspective: 90rem;
  margin: 0 auto;
}
.l-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 90rem;
  box-shadow: 0 0 3rem 2rem rgba(color(bluee), 0.4);
  animation: entry 1s linear 1;
}

#c1 {
  box-shadow: 0 0 3rem 2rem rgba(color(bluee), 0.4);
  left: 100%;
  z-index: 0;
}

#c2 {
  left: -100%;
  z-index: 0;
  box-shadow: 0 0 3rem 2rem rgba(color(bluee), 0.4);
}

.l-container:hover,
.l-container:focus {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  overflow: hidden;
}

.story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: color(bluee);
  z-index: 30;
  font-size: 4rem;
}

.info {
  position: absolute;
  top: 10%;
}

.l-title {
  text-align: center;
  color: color(yelloww);
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
  font-size: 2.25rem;
}*/

.l-pg {
  @include text-stuff;
  color: #fff;
  padding: 0 1vw;
  font-size: 1.5rem;
}

/* MEDIA QUERIES */

/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
          background-color: blue;
      }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
          background-color: green;
      }*/
  #l-blurb {
    font-size: 1.3rem;
  }
}

/* Medium devices (laptops/desktops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
          background-color: yellow;
      }*/
  #l-header {
    font-size: 3rem;
  }
}

/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
          background-color: purple;
      }*/
  #legendsbox {
    padding-top: 10vw;
  }
  #l-blurb {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-bottom: 5vw;
  }
  .cards-container {
    display: flex;
    flex-direction: column;
  }
}
