@import "_variables.scss";
@import "_mixins.scss";

//LEGENDS
#legendsbox, .l-another-container {
  background-color: #bddaff;
  // height: 90vh;
  width: 100vw;
  font-family: $subfont;
  position: relative;
  padding-top: 5.5vw;
  padding-bottom: 6vw;
}
#legends-whole {
  display: none;
}
.l-blurb {
  @include text-stuff;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: left;
  padding-bottom: 1vw;
}
.l-header {
  font-family: $mainfont;
  color: color(bluee);
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.l-wrapper {
  // position: relative;
  // top: 0;
  // width: 25rem;
  // height: 40rem;
  perspective: 90rem;
  // margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.l-container {
  // position: absolute;
  top: 0;
  width: 30rem;
  height: 40rem;
  transition: 0.5s all ease;
  transform: rotateX(40deg) scale(0.7);
  box-shadow: 0 0 3rem 2rem rgba(color(bluee), 0.4);
  animation: entry 1s linear 1;
}
// #c1 {
//   left: 100%;
//   z-index: 0;
// }

// #c2 {
//   left: -100%;
//   z-index: 0;
// }

.l-container:hover,
.l-container:focus {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(3rem);
  transition: 0.5s all ease;
  // z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  overflow: hidden;
}

.story {
  position: absolute;
  top: 45%;
  // left: 0%;
  height: 55%;
  width: 100%;
  background: color(bluee);
  // z-index: 30;
  font-size: 4rem;
}

.info {
  position: absolute;
  top: 10%;
}

.l-title {
  text-align: center;
  color: color(yelloww);
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
  font-size: 2.25rem;
}

.l-pg {
  @include text-stuff;
  color: #fff;
  padding: 0 1vw;
  font-size: 1.5rem;
}

//lEGENDS FOR MOBILE
.l-header {
  font-family: $mainfont;
  color: color(bluee);
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
}
.l-blurb {
  @include text-stuff;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: left;
  padding-bottom: 1vw;
}
.l-card-container {
  -webkit-perspective: 100rem;
  perspective: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-card-container:hover .l-card,
.l-card-container:focus .l-card,
.l-card-container:active .l-card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.l-card {
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all .7s;
}

.l-front,
.l-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.l-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.l-front-1 {
  background-image: url(/Images/Lantern3.jpg);
  background-size: cover;
  border-radius: 1vw;
}
.l-front-2{
  background-image: url(/Images/D3.jpg);
  background-size: cover;
  border-radius: 1vw;
}
.l-front-3 {
  background-image: url(/Images/Space1.jpeg);
  background-size: cover;
  border-radius: 1vw;
}
.l-paragraph {
  text-align: center;
  font-size: 2rem;
  font: $subfont;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}
.mobile-pg {
  padding: 0 2vw;
}
.l-back-1 {
  border-radius: 1vw;
  background-image: linear-gradient(to left,rgba(40, 94, 165, 0)0%, rgba(#6b5230, .85)0%), url(/Images/Lantern3.jpg);
}
.l-back-2 {
  border-radius: 1vw;
  background-image: linear-gradient(to left,rgba(40, 94, 165, 0)0%, rgba(#2c87bb, .95)0%), url(/Images/D3.jpg);
  background-size: cover;
}
.l-back-3 {
  border-radius: 1vw;
  background-image: linear-gradient(to left,rgba(40, 94, 165, 0)0%, rgba(#4c4ac0, .85)0%), url(/Images/Space1.jpeg);
}
.l-card-1:hover,
.l-card-1:focus {
  box-shadow: 0 0 3rem 1rem rgba(#6b5230, 0.5);
}
.l-card-2:hover,
.l-card-2:focus{
  box-shadow: 0 0 3rem 1rem rgba(#2c87bb, 0.5);
}
.l-card-3:hover,
.l-card-3:focus {
  box-shadow: 0 0 3rem 1rem rgba(#373e7e, 0.5);
}
/*Custom Styles*/
.l-cards-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.l-card {
  width: 25rem;
  height: 40vh;
  margin: 0.5vw;
  border-radius: 1vw;
}

.l-image {
  width: 20rem;
  height: 30rem;
  display: block;
}

.l-front,
.l-back {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
.legends-whole {
  display: none;
}
/* MEDIA QUERIES */

/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
          background-color: blue;
      }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
          background-color: green;
      }*/
  .l-blurb, .l-pg {
    font-size: 1.4rem;
  }
  // .legends-whole {
  //   display: none;
  // }
}

/* Medium devices (laptops/desktops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
          background-color: yellow;
      }*/
  .l-header {
    font-size: 3rem;
  }
  // .legends-whole {
  //   display: none;
  // }
}

/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
          background-color: purple;
      }*/

  .l-blurb {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-bottom: 5vw;
  }
  #legendsbox {
    display: none;
  }
  #legends-whole {
    display: block;
    display: initial;
  }
  .l-card {
    width: 93vw;
  }
}
