@import "_variables.scss";
@import "_mixins.scss";

html {
  scroll-behavior: smooth;
}
html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.legends-whole {
  background-color: #2372d6;
  height: 95vh;
  font-family: $subfont;
}
#nav-bar a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  transition: all 0.1s;
  text-transform: uppercase;
}
#nav-bar a:hover,
#nav-bar a:focus {
  color: color(bluee);
  border-bottom: color(yelloww) inset 0.25rem;
  font-weight: 600;
.wrapper {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 300px;
  height: 500px;
  perspective: 900px;
}

.container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}
.legends-header {
  font-family: $mainfont;
  color: color(yelloww);
  font-size: 5rem;
  text-align: center;
}
#c1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

#c2 {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: #2094ff;
  overflow: hidden;
}

//this is charley's

#historybox {
  width: 100vw;
  // padding-top: 0.6vw;
  position: relative;
  text-align: center;
  padding-top: 5.5vw;
  padding-bottom: 3.5vw;
  background-color: #cce2ff;
}
.header-history {
  font-size: 5rem;
  color: color(bluee);
  font-family: $mainfont;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
#h-blurb {
  @include text-stuff;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 3vw;
  text-align: left;
  padding-bottom: 1vw;
  line-height: 150%;
}
.img-img {
  // width: 93vw;
  // height: 19vh;
  border-radius: 1vw;
  transition: all 0.3s;
  // max-width: 100%;
  // width: auto;
  width: 100%;
  height: 100%;
}
.image-whole {
  position: relative;
  padding: 3.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 40vh;
#i1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#i2 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}
.story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: #2094ff;
  z-index: 30;
}

#s1 {
  background: #2094ff;
}

#s2 {
  background: #2094ff;
}

.info {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  font-family: $subfont;
  opacity: 0;
  transition: all 0.3s;
  width: 93vw;
  height: 39vh;
  background-color: color(bluee);
  border-radius: 1vw;
  margin: 0;
  top: 0.5vh;
  transform: translateY(5vh);
  display: flex;
  flex-direction: column-reverse;
  top: 10%;
}

h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
}

h4 {
  color: #111;
  position: absolute;
  top: 30%;
  left: 30%;
  letter-spacing: 2px;
}

/* ATTRACTIONS */
#attractionsbox {
  width: 100vw;
  height: 80vh;
  padding-top: 5.5vw;
  background-color: #e4f0ff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.highlights {
  -ms-box-orient: horizontal;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  width: 62.5vw;
  padding: 0 3.5vw;
  float: right;
}

.views-row {
  display: flex;
  padding: .5vw;
  text-align: center;
}
.a-name {
  @include text-stuff;
  color: #fff;
}
.views-content,
.views-content-small {
  flex: 1;
  height: 17vw;
  border-radius: 1vw;
  position: relative;
  transition: all .3s;
}
.views-content-small {
  height: 12vw;
}
.article-image {
  max-width: 100%;    
  border-radius: 1vw;
  height: 100%;
}
.article-content {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: rgba(35, 114, 214, .9);
  width: 100%;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.views-row-fill {
  flex: 1 100%;
  max-width: 100%;
}

.views-row-flex {
  flex: 1 33.33333333%;
  max-width: 33.33333333%;
}

.views-row-flex-50 {
  flex: 1 50%;
  max-width: 50%;
}

.views-row-flex-25 {
  flex: 1 25%;
  max-width: 25%;
  height: 75%;
}

.a-text {
  display: flex;
  flex-direction: column;
  float: left;
  width: 30vw;
  padding-left: 3.5vw;
  @include text-stuff;
  line-height: 150%;
}
#a-header {
  font-family: $mainfont;
  font-size: 5rem;
  letter-spacing: .1rem;
  color: color(bluee);
  text-transform: uppercase;
}
#a-blurb {
  margin-bottom: 3vw;
}
.views-content:hover,
.views-content-small:hover {
 transform: scale(1.3);
 z-index: 10;
 box-shadow: 0 0 3rem 2rem rgba(color(bluee), 0.4);
}

/* MEDIA QUERIES */
p {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

li {
  position: absolute;
  top: 50%;
  list-style: none;
  color: #111;
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
        background-color: green;
    }*/
  .logo {
    font-size: 2rem;
  }
  #nav-bar a {
    font-size: 1.2rem;
  }
  #header {
    font-size: 3rem;
  }
  .header-history {
    font-size: 3rem;
  }
  #a-header {
    font-size: 3rem;
  }
  #blurb {
    line-height: 2rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.3rem;
    padding: 1.25rem 1.5rem;
  }
  #eventsbtn {
    padding: 1rem 0;
    margin-left: 17rem;
  }
  #eventsbtn:hover,
  #eventsbtn:focus {
    padding: 1rem 1.25rem;
  }
  #btnbox {
    margin-top: 2rem;
  }
  .a-text,
  .a-name,
  #blurb,
  #h-blurb {
    font-size: 1.3rem;
  }
  .views-content-small {
    display: none;
  }
  #attractionsbox {
    height: 45vh;
  }
li:nth-child(1) {
  left: 15%;
  animation: simple1 1s linear infinite;
}

li:nth-child(2) {
  right: 15%;
  animation: simple 1s linear infinite;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
  nav ul {
    text-align: left;
    position: fixed;
    width: 100vw;
    height: fit-content;
    background: color(yelloww);
    top: 0;
    left: -100%;
    transition: 0.4s;
    z-index: -1;
    padding-left: 0;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    line-height: 2.5rem;
    padding: 1rem;
  }
  #nav-bar a:hover {
    border: none;
    letter-spacing: .3rem;
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
  /* navbar code end */

  .a-text {
    width: 93vw;
  }
  #a-header {
    text-align: center;
  }
  .views-content {
  height: 40vh;
  width: 100vw;
  }
  .views-row-flex,
  .views-row-flex-25,
  .views-row-flex-50 {
    flex: none;
    max-width: 100%;
  }
  .highlights {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  #attractionsbox {
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
    height: 160vh;
  }
  .article-content {
    font-size: 1.3rem;
    padding-bottom: .5vw;
  }
  .article-image {
    width: 100%;
  }
  .views-content:hover {
    box-shadow: none;
    transform: none;
  }
  #h-blurb {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
  }
    


