html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#historybox {
  width: 100vw;
  position: relative;
  text-align: center;
  padding-bottom: 3.5vw;
  background-color: #cce2ff;
  padding-top: 5.5vw;
}

.header-history {
  font-size: 5rem;
  color: #2372D6;
  font-family: "Henny Penny", cursive;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#h-blurb {
  font-size: 1.5rem;
  color: #000;
  font-family: "Underdog", cursive;
  letter-spacing: .05rem;
  line-height: 150%;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: left;
  padding-bottom: 1vw;
}

.image-whole {
  position: relative;
  margin-bottom: 1vw;
  width: 93vw;
  height: 39vh;
  border-radius: 1vw;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  position: relative;
}

.h-img-1 {
  background-image: url(/Images/FM2.jpg);
}

.h-img-2 {
  background-image: url(/Images/WM3.jpg);
}

.h-img-3 {
  background-image: url(/Images/BM1.jpg);
}

.img-title {
  font-size: 3vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Underdog", cursive;
  color: #F6F285;
  padding: 1vw 2vw;
  border-radius: 1vw;
  position: absolute;
  line-height: 5vw;
  text-transform: uppercase;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img-title-1 {
  background-color: rgba(55, 110, 4, 0.85);
}

.img-title-2 {
  background-color: rgba(178, 79, 23, 0.8);
}

.img-title-3 {
  background-color: rgba(93, 43, 209, 0.85);
}

.img-info-1 {
  background-color: #376e04;
}

.img-info-2 {
  background-color: #b24f17;
}

.img-info-3 {
  background-color: #5d2bd1;
}

.img-info {
  position: absolute;
  font-size: 1.5rem;
  color: #000;
  font-family: "Underdog", cursive;
  letter-spacing: .05rem;
  line-height: 150%;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 93vw;
  height: 39vh;
  border-radius: 1vw;
  margin: 0;
  -webkit-transform: translateY(5vh);
          transform: translateY(5vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: left;
  padding: 0 2vw;
}

.image-whole:hover .img-info,
.image-whole:focus .img-info {
  opacity: 90%;
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-whole:hover .img-title,
.image-whole:focus .img-title {
  z-index: 1;
  top: 25%;
  background-color: rgba(0, 0, 0, 0);
  padding: none;
}

.image-whole:hover .img-info-1,
.image-whole:focus .img-info-1 {
  -webkit-box-shadow: 0 0 3rem 1rem rgba(55, 110, 4, 0.5);
          box-shadow: 0 0 3rem 1rem rgba(55, 110, 4, 0.5);
}

.image-whole:hover .img-info-2,
.image-whole:focus .img-info-2 {
  -webkit-box-shadow: 0 0 3rem 1rem rgba(178, 79, 23, 0.5);
          box-shadow: 0 0 3rem 1rem rgba(178, 79, 23, 0.5);
}

.image-whole:hover .img-info-3,
.image-whole:focus .img-info-3 {
  -webkit-box-shadow: 0 0 3rem 1rem rgba(93, 43, 209, 0.5);
          box-shadow: 0 0 3rem 1rem rgba(93, 43, 209, 0.5);
}

/* MEDIA QUERIES */
/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
          background-color: blue;
      }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
          background-color: green;
      }*/
  .header-history {
    font-size: 3rem;
  }
  #h-blurb,
  .img-info {
    font-size: 1.3rem;
  }
}

/* Medium devices (laptops/desktops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
          background-color: yellow;
      }*/
}

/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
          background-color: purple;
      }*/
  .img-title {
    font-size: 5vw;
  }
  #historybox {
    padding-top: 10vw;
  }
  #h-blurb {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-bottom: 5vw;
  }
  /*.image-whole-1 {
      background-color: rgba(110, 105, 4, 0.75);
    }
    .image-whole-2 {
      background-color: rgba(178, 54, 23, 0.75);
    }
    .image-whole-3 {
      background-color: rgba(8, 24, 97, 0.75);
    }*/
  .image-whole:active {
    opacity: 100%;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-title {
    padding: 2vw 3vw;
  }
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#legendsbox {
  background-color: #bddaff;
  width: 100vw;
  font-family: "Underdog", cursive;
  position: relative;
  padding-top: 5.5vw;
  padding-bottom: 2vw;
}

#l-header {
  font-family: "Henny Penny", cursive;
  color: #2372D6;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

#l-blurb {
  font-size: 1.5rem;
  color: #000;
  font-family: "Underdog", cursive;
  letter-spacing: .05rem;
  line-height: 150%;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: left;
  padding-bottom: 1vw;
}

.card-container {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.card-container:hover .card,
.card-container:focus .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card {
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/*Custom Styles*/
.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-orient: horizontal;
  box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
}

.card {
  width: 23rem;
  height: 40vh;
  background-image: url(/Images/Lantern3.jpg);
  background-size: cover;
  border-radius: 1vw;
  margin: 1.5vw;
}

.l-image {
  width: 20rem;
  height: 30rem;
  display: block;
}

.front, .back {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.l-pg {
  font-size: 1.5rem;
  color: #000;
  font-family: "Underdog", cursive;
  letter-spacing: .05rem;
  line-height: 150%;
  color: #fff;
  padding: 0 1vw;
  font-size: 1.5rem;
}

/* MEDIA QUERIES */
/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
          background-color: blue;
      }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
          background-color: green;
      }*/
  #l-blurb {
    font-size: 1.3rem;
  }
}

/* Medium devices (laptops/desktops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
          background-color: yellow;
      }*/
  #l-header {
    font-size: 3rem;
  }
}

/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
          background-color: purple;
      }*/
  #legendsbox {
    padding-top: 10vw;
    padding-bottom: 3vw;
  }
  #l-blurb {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-bottom: 5vw;
  }
  .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    width: 93vw;
    margin: .5vw;
  }
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ATTRACTIONS */
#attractionsbox {
  width: 100vw;
  height: 80.5vh;
  background-color: #cce2ff;
  position: relative;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.highlights {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 62.5vw;
  padding: 0 3.5vw;
  float: right;
  margin-top: 5.5vw;
}

.views-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5vw;
  text-align: center;
}

.a-name {
  font-size: 1.5rem;
  color: #000;
  font-family: "Underdog", cursive;
  letter-spacing: .05rem;
  line-height: 150%;
  color: #fff;
}

.views-content,
.views-content-small {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 17vw;
  border-radius: 1vw;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.views-content-small {
  height: 12vw;
}

.article-image {
  max-width: 100%;
  border-radius: 1vw;
  height: 100%;
}

.article-content {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: rgba(35, 114, 214, 0.9);
  width: 100%;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.views-row-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  max-width: 100%;
}

.views-row-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 33.33333333%;
          flex: 1 33.33333333%;
  max-width: 33.33333333%;
}

.views-row-flex-50 {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  max-width: 50%;
}

.views-row-flex-25 {
  -webkit-box-flex: 1;
      -ms-flex: 1 25%;
          flex: 1 25%;
  max-width: 25%;
  height: 75%;
}

.a-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  width: 30vw;
  padding-left: 3.5vw;
  margin-top: 5.5vw;
}

#a-header {
  font-family: "Henny Penny", cursive;
  font-size: 5rem;
  color: #2372D6;
  text-transform: uppercase;
}

#a-blurb {
  font-size: 1.5rem;
  color: #000;
  font-family: "Underdog", cursive;
  letter-spacing: .05rem;
  line-height: 150%;
}

.views-content:hover,
.views-content-small:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 10;
  -webkit-box-shadow: 0 0 3rem 2rem rgba(35, 114, 214, 0.4);
          box-shadow: 0 0 3rem 2rem rgba(35, 114, 214, 0.4);
}

/* MEDIA QUERIES */
/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
          background-color: blue;
      }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
          background-color: green;
      }*/
  #a-header {
    font-size: 3rem;
  }
  .a-text,
  .a-name,
  #a-blurb {
    font-size: 1.3rem;
  }
  .views-content-small {
    display: none;
  }
  #attractionsbox {
    height: 60vh;
  }
  .highlights {
    margin-top: 12vw;
  }
}

/* Medium devices (laptops/desktops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
          background-color: yellow;
      }*/
}

/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
          background-color: purple;
      }*/
  .a-text {
    width: 93vw;
  }
  #a-header {
    text-align: center;
  }
  .views-content {
    height: 40vh;
    width: 100vw;
  }
  .views-row-flex,
  .views-row-flex-25,
  .views-row-flex-50 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100%;
  }
  .highlights {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3.5vw;
  }
  #attractionsbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150vh;
  }
  #attractionsbox {
    padding-top: 12vw;
  }
  .a-text {
    margin-top: 0;
  }
  .article-image {
    width: 100%;
  }
  .views-content:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wildlifebox {
  position: relative;
  background-color: #bddaff;
  padding: 3.5vw;
  padding-top: 5.5vw;
  width: 100vw;
}

#w-header {
  font-size: 5rem;
  color: #2372D6;
  font-family: "Henny Penny", cursive;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#w-blurb {
  font-size: 1.5rem;
  color: #000;
  font-family: "Underdog", cursive;
  letter-spacing: .05rem;
  line-height: 150%;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: left;
}

.w-row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 3vw;
  width: 100%;
  height: 23vw;
}

.w-card {
  /*float: left;*/
  position: relative;
  height: 20vw;
  width: 20vw;
  -ms-flex-preferred-size: 20vw;
      flex-basis: 20vw;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 1vw;
  background-color: #e4f0ff;
  margin-right: 1vw;
}

.w-card-text {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  bottom: 0;
  background-color: rgba(235, 88, 119, 0.9);
  width: 100%;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1.5rem;
  color: #000;
  font-family: "Underdog", cursive;
  letter-spacing: .05rem;
  line-height: 150%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.w-img {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
          background-color: blue;
      }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
          background-color: green;
      }*/
  #w-header {
    font-size: 3rem;
  }
  .w-card-text,
  #w-blurb {
    font-size: 1.3rem;
  }
}

/* Medium devices (laptops/desktops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
          background-color: yellow;
      }*/
}

/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
          background-color: purple;
      }*/
  .w-card {
    height: 40vw;
    width: 40vw;
    -ms-flex-preferred-size: 40vw;
        flex-basis: 40vw;
  }
  .w-row {
    height: 41vw;
    padding-top: 1vw;
  }
  #wildlifebox {
    padding-top: 10vw;
  }
  #w-blurb {
    padding-left: 0vw;
    padding-right: 0vw;
    margin-bottom: 5vw;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body
* {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#homeimg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(40, 94, 165, 0)), color-stop(0%, rgba(35, 113, 214, 0.527))), url("/Images/butterflyhome.jpg");
  background-image: linear-gradient(to left, rgba(40, 94, 165, 0) 0%, rgba(35, 113, 214, 0.527) 0%), url("/Images/butterflyhome.jpg");
}

/*.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  z-index: 10;
}*/
.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.navwhole {
  width: 100%;
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0 0.5rem 0.5rem -0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 0.5rem -0.3rem rgba(0, 0, 0, 0.2);
}

.logobox {
  background-color: rgba(255, 255, 243, 0.95);
  width: 30%;
  text-align: left;
  float: left;
  height: 5rem;
}

.logo {
  color: #2372D6;
  font-size: 3rem;
  font-family: "Henny Penny", cursive;
  padding-left: 3.5vw;
  display: inline;
  height: 5rem;
}

#nav-bar {
  width: 70%;
  float: right;
  text-align: right;
  display: inline;
  background-color: rgba(255, 255, 243, 0.95);
  height: 5rem;
}

#nav-bar ul {
  list-style: none;
}

#nav-bar li {
  display: inline-block;
  font-family: "Underdog", cursive;
}

#nav-bar a {
  color: #000;
  text-decoration: none;
  font-size: 1.65rem;
  margin-right: 3rem;
  line-height: 5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

#nav-bar a:hover,
#nav-bar a:focus {
  color: #2372D6;
  border-bottom: #F6F285 inset 0.25rem;
}

#container {
  position: absolute;
  width: 70vw;
  height: 50vh;
  left: 3.5vw;
  top: 9vw;
  z-index: 2;
  margin-top: 5.5vw;
}

#header {
  color: #F6F285;
  font-family: "Henny Penny", cursive;
  font-size: 7rem;
  top: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.5rem 0.5rem rgba(246, 242, 133, 0.4);
}

#blurb {
  color: #fff;
  font-family: "Underdog", cursive;
  font-size: 1.65rem;
  line-height: 150%;
  letter-spacing: .1rem;
}

#btnbox {
  position: relative;
  height: 5rem;
  margin-top: 5rem;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-family: "Underdog", cursive;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  position: absolute;
  letter-spacing: .1rem;
}

#attractionsbtn {
  border-bottom-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: #F6F285;
  color: #0036c9;
}

#attractionsbtn:hover,
#attractionsbtn:focus {
  -webkit-box-shadow: 0 1.5rem 3rem rgba(246, 242, 133, 0.6);
          box-shadow: 0 1.5rem 3rem rgba(246, 242, 133, 0.6);
  background-color: #feffbc;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

#eventsbtn {
  border-radius: 0;
  color: #fff;
  border-bottom: #F6F285 solid 0.25rem;
  border-top: #F6F285 solid 0.25rem;
  padding: 1.25rem 0;
  margin-left: 20rem;
}

#eventsbtn:hover,
#eventsbtn:focus {
  border-bottom-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border: #feffbc solid 0.25rem;
  padding: 1.25rem 2.25rem;
}

a {
  text-decoration: none;
}

.arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 3rem;
  color: #F6F285;
  text-shadow: 0 1.5rem 3rem #f6f285;
  top: 80%;
  left: 45%;
  right: 45%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bounce {
  -webkit-animation: bounce 2.5s infinite;
          animation: bounce 2.5s infinite;
}

.arrow:hover, .arrow:focus {
  color: #feffbc;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

label #sign-one,
label #sign-two {
  font-size: 2.5rem;
  color: #2372D6;
  float: right;
  line-height: 3.5rem;
  margin-right: 3.5vw;
  cursor: pointer;
  display: none;
}

#res-menu {
  display: none;
}

/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
        background-color: blue;
    }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
        background-color: green;
    }*/
  #nav-bar a {
    font-size: 1.5rem;
  }
  #header {
    font-size: 3rem;
  }
  #blurb {
    line-height: 2rem;
    font-size: 1.3rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.3rem;
    padding: 1.25rem 1.5rem;
  }
  #eventsbtn {
    padding: 1rem 0;
    margin-left: 17rem;
  }
  #eventsbtn:hover,
  #eventsbtn:focus {
    padding: 1rem 1.25rem;
  }
  #btnbox {
    margin-top: 2rem;
  }
  #homeimg {
    background-attachment: unset;
  }
}

/* Medium devices (laptops/desktops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
        background-color: yellow;
    }*/
}

/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
        background-color: purple;
    }*/
  #blurb {
    margin-top: 2vw;
  }
  .logo {
    font-size: 2rem;
  }
  .logobox, #nav-bar {
    height: 4rem;
  }
  #header {
    line-height: 4rem;
  }
  #btnbox {
    margin-top: 5rem;
  }
  #eventsbtn {
    margin-left: 0;
    margin-top: 6rem;
  }
  #container {
    margin-top: 5.5vw;
    width: 65vw;
  }
  /* the following code is for the responsive nav bar */
  label #sign-one {
    display: block;
  }
  nav ul {
    text-align: left;
    position: fixed;
    width: 100vw;
    background: #2372D6;
    top: 0;
    left: -100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: -1;
    padding-left: 1rem;
    padding-top: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul li {
    line-height: 2.5rem;
    padding-left: 1rem;
  }
  #nav-bar a {
    color: #fff;
  }
  #nav-bar a:hover {
    border: none;
    letter-spacing: 0.3rem;
    letter-spacing: .3rem;
    color: #F6F285;
  }
  #res-menu:checked ~ ul {
    left: 0;
  }
  #res-menu:checked ~ label #sign-one {
    display: none;
  }
  #res-menu:checked ~ label #sign-two {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */