@import "_variables.scss";
@import "_mixins.scss";

html {
    scroll-behavior: smooth;
}
html,
body {
    font-size: 62.5%;
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.castlepic {
    width: 100vw;
}
.body {
    display:flex;
    align-content:flex-start;
}
.navwhole {
    width: 100vw;
    position: fixed;
}
.logobox {
    background-color: color(whitee);
    width:30%;
    text-align: left;
    float: left;
    height: 4rem;
}
.logo {
    color: color(bluee);
    font-size:2.5rem;
    font-family: $mainfont;
    padding-left: 5rem;
    display:inline;
}     
#nav-bar {
    width:70%;
    float: right;
    text-align:right;
    display:inline;
    background-color: color(whitee);
    height: 4rem;
}
#nav-bar ul {
    list-style: none;
}
#nav-bar li {
    display:inline-block;
    font-family: $subfont;
    transition: all 0.2s;
}
#nav-bar a {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    line-height: 3rem;
}
#nav-bar a:hover {
    color: color(bluee);
    border-bottom: color(bluee) inset .25rem;
}
#container {
    position: relative;
    width: 70rem;
    left: 5rem;
    bottom: 50rem;
}
#header {
    position: absolute;
    color: color(yelloww);
    font-family: $mainfont;
    font-size: 5rem;
    top: 0;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-shadow: 0 .5rem .5rem rgba(color(yelloww), 0.4);
}
#blurb {
    position: absolute;
    color: #fff;
    font-family: $subfont;
    font-size: 1.5rem;
    top: 12rem;
    line-height: 2.5rem;
}
.btn,
.btn:link, 
.btn:visited {
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    font-family: $subfont;
    font-weight: 500;
    transition: all 0.2s;
    position: absolute;
    display: inline;
    top: 25rem;
}
#attractionsbtn {
    border-bottom-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: color(yelloww);
    color: color(bluee);
}
#attractionsbtn:hover {
    box-shadow: 0 1.5rem 3rem rgba(color(yelloww), 0.4);
    transform: translateY(-.25rem);
}
#eventsbtn {
    border-radius: 0;
    color: #fff;
    border-bottom: color(yelloww) solid .25rem;
    border-top: color(yelloww) solid .25rem;
    background-color: none;
    padding: 1.25rem 0;
    margin-left: 23rem;
}
#eventsbtn:hover {
    border-bottom-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border: color(yelloww) solid .25rem;
    padding: 1.25rem 2.25rem;

}
a {
    text-decoration: none;
}
