html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.legends-whole {
  background-color: #2372d6;
  height: 95vh;
  font-family: "Underdog", cursive;
}

.wrapper {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 300px;
  height: 500px;
  -webkit-perspective: 900px;
          perspective: 900px;
}

.container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: rotateX(60deg) scale(0.7);
          transform: rotateX(60deg) scale(0.7);
  -webkit-perspective: 900px;
          perspective: 900px;
  -webkit-box-shadow: 0px 20px 50px #555;
          box-shadow: 0px 20px 50px #555;
  -webkit-animation: entry 1s linear 1;
          animation: entry 1s linear 1;
}

.legends-header {
  font-family: "Henny Penny", cursive;
  color: #F6F285;
  font-size: 5rem;
  text-align: center;
}

#c1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #59476f), to(#7b88d1));
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  -webkit-box-shadow: 0px 20px 100px #555;
          box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

#c2 {
  left: -100%;
  z-index: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #59476f), to(#7b88d1));
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  -webkit-box-shadow: 0px 20px 100px #555;
          box-shadow: 0px 20px 100px #555;
}

.container:hover {
  cursor: pointer;
  -webkit-transform: rotate(0deg) scale(1) translateY(10px);
          transform: rotate(0deg) scale(1) translateY(10px);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: #2094ff;
  overflow: hidden;
}

#i1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #59476f), to(#7b88d1));
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#i2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #59476f), to(#7b88d1));
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

.story {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: #2094ff;
  z-index: 30;
}

#s1 {
  background: #2094ff;
}

#s2 {
  background: #2094ff;
}

.info {
  position: absolute;
  top: 10%;
}

h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
}

h4 {
  color: #111;
  position: absolute;
  top: 30%;
  left: 30%;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

li {
  position: absolute;
  top: 50%;
  list-style: none;
  color: #111;
}

li:nth-child(1) {
  left: 15%;
  -webkit-animation: simple1 1s linear infinite;
          animation: simple1 1s linear infinite;
}

li:nth-child(2) {
  right: 15%;
  -webkit-animation: simple 1s linear infinite;
          animation: simple 1s linear infinite;
}

@-webkit-keyframes simple {
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple {
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
}

@-webkit-keyframes simple1 {
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
}

@-webkit-keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}
/*# sourceMappingURL=style.css.map */