@import "_variables.scss";
@import "_mixins.scss";

html {
  scroll-behavior: smooth;
}
html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#homeimg {
  width: 100vw;
  height: 80vh;
  background-image: url(/Images/castle2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
.body {
  display: flex;
  align-content: flex-start;
}
.navwhole {
  width: 100vw;
  position: fixed;
  z-index: 2;
}
.logobox {
  background-color: color(whitee);
  width: 30%;
  text-align: left;
  float: left;
  height: 4rem;
}
.logo {
  color: color(bluee);
  font-size: 2.5rem;
  font-family: $mainfont;
  padding-left: 3.5vw;
  display: inline;
}
#nav-bar {
  width: 70%;
  float: right;
  text-align: right;
  display: inline;
  background-color: color(whitee);
  height: 4rem;
}
#nav-bar ul {
  list-style: none;
}
#nav-bar li {
  display: inline-block;
  font-family: $subfont;
}
#nav-bar a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  transition: all 0.1s;
  text-transform: uppercase;
}
#nav-bar a:hover,
#nav-bar a:focus {
  color: color(bluee);
  border-bottom: color(yelloww) inset 0.25rem;
}
#container {
  position: absolute;
  width: 50vw;
  height: 50vh;
  left: 3.5vw;
  top: 9vw;
}
#header {
  color: color(yelloww);
  font-family: $mainfont;
  font-size: 5rem;
  top: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.5rem 0.5rem rgba(color(yelloww), 0.4);
  margin-bottom: -1rem;
}
#blurb {
  color: #fff;
  font-family: $subfont;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
#btnbox {
  position: relative;
  height: 5rem;
  margin-top: 5rem;
}
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-family: $subfont;
  font-weight: 600;
  transition: all 0.2s;
  display: inline-block;
  position: absolute;
}
#attractionsbtn {
  @include sleek-border;
  background-color: color(yelloww);
  color: color(bluee);
}
#attractionsbtn:hover,
#attractionsbtn:focus {
  box-shadow: 0 1.5rem 3rem rgba(color(yelloww), 0.4);
  transform: translateY(-0.25rem);
}
#eventsbtn {
  border-radius: 0;
  color: #fff;
  border-bottom: color(yelloww) solid 0.25rem;
  border-top: color(yelloww) solid 0.25rem;
  background-color: none;
  padding: 1.25rem 0;
  margin-left: 23rem;
}
#eventsbtn:hover,
#eventsbtn:focus {
  @include sleek-border;
  border: color(yelloww) solid 0.25rem;
  padding: 1.25rem 2.25rem;
}
a {
  text-decoration: none;
}
label #sign-one,
label #sign-two {
  font-size: 2.5rem;
  color: color(bluee);
  float: right;
  line-height: 3.5rem;
  margin-right: 3.5vw;
  cursor: pointer;
  display: none;
}

#res-menu {
  display: none;
}

//this is charley's

#historybox {
  width: 100vw;
  // padding-top: 0.6vw;
  position: relative;
  text-align: center;
  padding-top: 5.5vw;
  padding-bottom: 3.5vw;
  background-color: #cce2ff;
}
.header-history {
  font-size: 5rem;
  color: color(bluee);
  font-family: $mainfont;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
#h-blurb {
  @include text-stuff;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding-bottom: 3vw;
  text-align: left;
}
.img-img {
  // width: 93vw;
  // height: 19vh;
  border-radius: 1vw;
  transition: all 0.3s;
  // max-width: 100%;
  // width: auto;
  width: 100%;
  height: 100%;
}
.image-whole {
  position: relative;
  padding: 3.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 40vh;
}
.img-title {
  font-size: 3vw;
  width: fit-content;
  font-family: $subfont;
  color: color(yelloww);
  padding: 0 1vw;
  border-radius: 1vw;
  position: absolute;
  line-height: 5vw;
  text-transform: uppercase;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.img-title-1 {
  background-color: rgba(110, 105, 4, 0.75);
}
.img-title-2 {
  background-color: rgba(178, 54, 23, 0.75);
}
.img-title-3 {
  background-color: rgba(8, 24, 97, 0.75);
}
.img-info {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  font-family: $subfont;
  opacity: 0;
  transition: all 0.3s;
  width: 93vw;
  height: 39vh;
  background-color: color(bluee);
  border-radius: 1vw;
  margin: 0;
  top: 0.5vh;
  transform: translateY(5vh);
  display: flex;
  flex-direction: column-reverse;
}
.img-wrap:hover .img-info {
  visibility: visible;
  opacity: 100%;
  transform: translateY(0vh);
  display: flex;
  justify-content: center;
}
.img-wrap:hover .img-img {
  filter: grayscale(100%);
}

/* ATTRACTIONS */
#attractionsbox {
  height: 40vw;
  width: 100vw;
  padding-top: 5.5vw;
  background-color: #e4f0ff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.highlights {
  -ms-box-orient: horizontal;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  width: 62.5vw;
  padding: 0 3.5vw;
  float: right;
}

.views-row {
  display: flex;
  padding: .5vw;
  text-align: center;
}
.a-name {
  @include text-stuff;
  color: #fff;
}
.views-content,
.views-content-small {
  flex: 1;
  height: 17vw;
  border-radius: 1vw;
  position: relative;
  transition: all .3s;
}
.views-content-small {
  height: 12vw;
}
.article-image {
  max-width: 100%;    
  border-radius: 1vw;
  height: 100%;
}
.article-content {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: rgba(35, 114, 214, .9);
  width: 100%;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.views-row-fill {
  flex: 1 100%;
  max-width: 100%;
}

.views-row-flex {
  flex: 1 33.33333333%;
  max-width: 33.33333333%;
}

.views-row-flex-50 {
  flex: 1 50%;
  max-width: 50%;
}

.views-row-flex-25 {
  flex: 1 25%;
  max-width: 25%;
  height: 75%;
}

.a-text {
  display: flex;
  flex-direction: column;
  float: left;
  width: 30vw;
  padding-left: 3.5vw;
  @include text-stuff;
  line-height: 150%;
}
#a-header {
  font-family: $mainfont;
  font-size: 5rem;
  letter-spacing: .1rem;
  color: color(bluee);
  text-transform: uppercase;
}
#a-blurb {
  margin-bottom: 3vw;
}
.views-content:hover,
.views-content-small:hover {
 transform: scale(1.3);
 z-index: 10;
 box-shadow: 0 0 3rem 2rem rgba(color(bluee), 0.4);
}

/* MEDIA QUERIES */

/* Extra large devices (large laptops and desktops, 75rem and up) */
@media only screen and (min-width: 75rem) {
  /*#nav-bar {
        background-color: blue;
    }*/
}

/* Large devices (laptops/desktops, up to 75rem) */
@media only screen and (max-width: 75rem) {
  /*#nav-bar {
        background-color: green;
    }*/
  .logo {
    font-size: 2rem;
  }
  #nav-bar a {
    font-size: 1.2rem;
  }
  #header {
    font-size: 3rem;
  }
  .header-history {
    font-size: 3rem;
  }
  #a-header {
    font-size: 3rem;
  }
  #blurb {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.3rem;
    padding: 1.25rem 1.5rem;
  }
  #eventsbtn {
    padding: 1rem 0;
    margin-left: 17rem;
  }
  #eventsbtn:hover,
  #eventsbtn:focus {
    padding: 1rem 1.25rem;
  }
  #btnbox {
    margin-top: 2rem;
  }
  .a-text {
    font-size: 1.3rem;
  }
  .a-name {
    font-size: 1.3rem;
  }
  .views-content-small {
    display: none;
  }
}

/* Medium devices (laptops/desktops, up to 62rem) */
@media only screen and (max-width: 62rem) {
  /*#nav-bar {
        background-color: yellow;
    }*/
}

/* Small devices (tablets/phones, up to 48rem) */
@media only screen and (max-width: 48rem) {
  /*#nav-bar {
        background-color: purple;
    }*/
  #btnbox {
    margin-top: 5rem;
  }
  #eventsbtn {
    margin-left: 0;
    margin-top: 6rem;
  }
  #container {
    width: 65vw;
  }
  /* the following code is for the responsive nav bar */
  label #sign-one {
    display: block;
  }
  nav ul {
    text-align: left;
    position: fixed;
    width: 100vw;
    height: fit-content;
    background: color(yelloww);
    top: 0;
    left: -100%;
    transition: 0.4s;
    z-index: -1;
    padding-left: 0;
    padding-top: 3.5rem;
  }
  nav ul li {
    display: block;
    line-height: 2.5rem;
    padding: 1rem;
    padding-right: 50rem;
  }
  #nav-bar a:hover {
    border: none;
    letter-spacing: .3rem;
  }
  #res-menu:checked ~ ul {
    left: 0;
  }
  #res-menu:checked ~ label #sign-one {
    display: none;
  }
  #res-menu:checked ~ label #sign-two {
    display: block;
  }
  /* navbar code end */

  .a-text {
    width: 93vw;
  }
  #a-header {
    text-align: center;
  }
  .views-content {
  height: 40vh;
  width: 100vw;
  }
  .views-row-flex,
  .views-row-flex-25,
  .views-row-flex-50 {
    flex: none;
    max-width: 100%;
  }
  .highlights {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  #attractionsbox {
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
    height: 155vh;
  }
  .article-content {
    font-size: 1.3rem;
  }
  .article-image {
    width: 100%;
  }
  .views-content:hover {
    box-shadow: none;
    transform: none;
  }
}
